* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 15rem;
}

.container {
  position: fixed;
}

.image-logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 79%;
  border: 4px solid white;
}

.main {
  background: blue;
}

.stamp {
  background: red;
}

.heard {
  background: purple;
}
