* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 10%;

}

.image-header {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 2px solid black;
}
